/* Ajustes generales */
* {
  box-sizing: border-box;
}

.container {
  max-width: 450px;
  margin: 8vh auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #dcedff;
  text-align: center;
  height: 100%;
}

/* Centramos título */
.title {
  font-size: 1.8rem;
  color: #dcedff;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #333;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón */
.button {
  padding: 12px;
  background-color: #4c87af;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #3b7295;
  transform: scale(1.02);
}

/* Registro */
.registerContainer {
  margin-top: 1.5rem;
  text-align: center;
}

.registerText {
  font-size: 0.95rem;
  color: #555;
}

.link {
  color: #53aeca;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  text-decoration: underline;
  color: #007bff;
}
