.container {
  max-width: 600px;
  margin: 16vh auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #dcedff;
  text-align: left; /* Cambiado de center a left */
  height: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center; /* Mantener centrado solo el título */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.cardItem {
  font-size: 1.1rem;
  color: #e0e0e0;
  text-align: left;
}

.logoutButton {
  background-color: #d9534f;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin-top: 2rem;
}

.logoutButton:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.logoutButton:active {
  transform: scale(0.95);
}

.perfilInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

.perfilLabel {
  font-weight: 600;
  color: #ffffff;
}
